@page "/Inventor"
@using Microsoft.Extensions.Localization
@using global::HQSOFT.eBiz.Inventor.Localization
@inject IStringLocalizer<InventorResource> L
@{
}
<h1>Inventor</h1>
<p>@L["SamplePageMessage"]</p>